body {
  padding: 20px;
}

.demo-card-square.mdl-card {
  width: 320px;
  height: auto;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('http://a5.files.biography.com/image/upload/c_fit,cs_srgb,dpr_1.0,h_1200,q_80,w_1200/MTE5NDg0MDU0OTM2NTg1NzQz.jpg');
  background-size: cover;
  height: 320px;
}